analysis/*/Screening and Individual Model Check Templatev2.xlsx
analysis/**/instance - run/
!analysis/
!analysis/*/
!analysis/*/runs/
!analysis/*/runs/*/
!analysis/*/runs/*/*/
!analysis*/runs/*/*/instance-run/
!analysis*/runs/*/*/instance-run/instance - ab - HVACSecondary.csv
