**.pdf
**.zip
analysis/*/Screening and Individual Model Check Templatev2.xlsx
analysis/**/*.xml
analysis/**/instance - run/*.csv
analysis/**/instance - run/*.osm
analysis/**/instance - run/*.ibd-Detail
analysis/**/instance - run/*.ibd-Detail-B4Eval
analysis/**/instance - run/*.epw
